
<!-- <app-nav-bar></app-nav-bar> -->

<h1>Create Order</h1>
<button (click)="createOrder()">Create Order</button>


<!-- 
<table>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td><a [routerLink]="['/orders']">{{order.orderno}}</a></td> 



       <td><a [routerLink]="['order-details/:orderId/:orderNo' , order.orderno]">{{ order.orderno }}</a></td> 
      <td>{{ order.total }}</td>
      <td>{{ order.orderStatus }}</td>
    </tr>
  </tbody>
</table>   -->

