/* search.component.css */

section {
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: teal;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color:teal;
    color: #fff;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  